<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="box">
    <h2 class="titulo">Eventos</h2>
    
    <form action="/evento_novo" method="post">
        <label for="nome">Nome do evento:</label><br>
        <input type="text" id="nome" name="nome" required><br>
        <label for="data">Data:</label><br>
        <input type="date" id="data" name="data" required><br>
        <input type="submit" value="Cadastrar">
    </form>
    </div>
</body>
</html>