<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="box">
    <h2 class="titulo">Eventos</h2>
    <table id="customers">
      <h3>Eventos</h3>
      <tr>
        <th>ID</th>
        <th>Evento</th>
        <th>Data</th>
      </tr>
        {% for evento in eventos %}
        <tr onclick="location.href='detalhes/{{evento[0]}}'">
          <td onclick="location.href='detalhes/{{evento[0]}}'">{{ evento[0] }}</td>
          <td onclick="location.href='detalhes/{{evento[0]}}'">{{ evento[1] }}</td>
          <td onclick="location.href='detalhes/{{evento[0]}}'">{{ evento[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <style>
        body {
            cursor: pointer;
        }
    </style>
</body>
</html>